.header-nav,
.nav-list,
.contacts,
header > .container {
  display: flex;
  align-items: center;
}
.logo {
  font-family: var(--logo-font), sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--focus-color);
}
.header-nav > .logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header .logo__second-part {
  color: var(--logo-color);
}
.nav-list > li:not(:last-child) {
  margin-right: 50px;
}
.contacts > li:not(:last-child) {
  margin-right: 30px;
}
.nav-list,
.contacts {
  letter-spacing: 0.02em;
}
.contacts {
  margin-left: auto;
  fill: currentColor;
}
.nav-list__link {
  color: var(--text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list__link:hover,
.nav-list__link:focus {
  color: var(--focus-color);
}
.nav-list__link--current {
  position: relative;
  color: var(--focus-color);
}
.nav-list__link--current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--focus-color);
}
.contact-link {
  color: var(--subtext-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--focus-color);
}
.contact-link__icon {
  margin-right: 10px;
  fill: currentColor;
}

/* 2.2 Мейн */

/* 2.2.1 Герой */

.hero {
  background-color: var(--herofootbcg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/bcg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.hero__title {
  color: var(--maintext-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  max-width: 696px;
  letter-spacing: 0.06em;
  margin: auto;
  margin-bottom: 30px;
}
.hero__button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--maintext-color);
  background-color: var(--focus-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  border: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover,
.hero__button:focus {
  background-color: var(--focus-btnclr);
}

/* 2.2.2.1 Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.6);
  opacity: 0;
}
.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--mainbcg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  visibility: initial;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__label {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.form__label:nth-last-child(3) {
  margin-bottom: 20px;
}
.form__label:last-of-type {
  margin-bottom: 30px;
}
.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--text-color);
  margin-bottom: 12px;
}
.form__description {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--subtext-color);
  text-align: left;
  margin-bottom: 4px;
}
.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 8px;
  cursor: pointer;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus {
  border-color: var(--focus-color);
}
.form__input:focus + .form__icon {
  fill: var(--focus-color);
}
textarea.form__input {
  height: 120px;
  padding: 12px 16px;
  letter-spacing: 0.01em;
  font-size: inherit;
  line-height: inherit;
  resize: none;
}
.form__icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.agreement {
  display: flex;
  align-items: center;
  justify-content: center;
}
.agreement__text {
  display: inline-block;
  line-height: 1.71;
  margin-left: 23px;
}
.agreement__link {
  text-decoration-line: underline;
  color: var(--focus-color);
}
.icon-agreement {
  position: absolute;
  left: 12px;
}
.icon-checkbox {
  display: inline-block;
  position: absolute;
  left: 12px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--text-color);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-check {
  opacity: 0;
  background-origin: border-box;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.agreement__input:checked ~ .icon-agreement .icon-check {
  opacity: 1;
  fill: var(--maintext-color);
}
.agreement__input:checked ~ .icon-checkbox {
  background-color: var(--focus-color);
  border-color: var(--focus-color);
}
.send-button {
  width: 200px;
  height: 50px;
  background-color: var(--focus-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--focus-color);
  color: var(--maintext-color);
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-button:focus,
.send-button:hover {
  background-color: var(--focus-btnclr);
}
.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--mainbcg-color);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:focus,
.close-button:hover {
  fill: var(--focus-btnclr);
}

/* 2.2.2 Преимущества */

.benefits-list {
  display: flex;
}
.benefits-list__item {
  gap: var(--indent);
}
.benefits-icon {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: var(--portfolio-btnsbcg);
  margin-bottom: 30px;
}
.benefits__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.benefits__description {
  line-height: 1.71;
  color: var(--subtext-color);
}

/* 2.2.3 Профиль работы */
.works {
  padding-top: 0;
}
.works__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.works-list {
  display: flex;
  gap: var(--indent);
}
.works__item {
  position: relative;
  z-index: -1;
}
.works__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--works-background);
}
.works__description {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--maintext-color);
}

/* 2.2.4 Команда */

.team {
  background-color: var(--portfolio-btnsbcg);
}
.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  gap: var(--indent);
}
.team__card {
  background-color: var(--mainbcg-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.team__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--subtext-color);
}
.social-list {
  display: flex;
  justify-content: space-between;
  margin: 16px 32px 30px;
}
.social-list__item {
  display: inline-block;
  width: 44px;
  height: 44px;
}
.social-list__link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--social-icon-clr);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--focus-color);
  color: var(--maintext-color);
}
.social-list__icon {
  fill: currentColor;
}

/* 2.2.5 Постоянные клиенты */

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  justify-content: space-between;
}
.clients-list__item {
  display: inline-block;
  width: 170px;
  height: 92px;
}
.clients-list__link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: var(--social-icon-clr);
  border: 1px solid var(--social-icon-clr);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover,
.clients-list__link:focus {
  color: var(--focus-color);
  border-color: var(--focus-color);
}
.clients-list__icon {
  fill: currentColor;
}

/* 2.3 Футер */

.footer {
  background-color: var(--herofootbcg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.adress-section {
  min-width: 231px;
  margin-right: 70px;
}
.footer .logo__second-part {
  color: var(--maintext-color);
}
.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}
address {
  font-style: inherit;
  line-height: 1.71;
}
.address-list > li {
  margin-bottom: 9px;
}
.map-link {
  color: var(--maintext-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .contact-link {
  padding: 0;
  color: var(--footer-link-clr);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.map-link:hover,
.map-link:focus {
  color: var(--focus-color);
}
.invite-section {
  margin-right: auto;
}
.invite-section__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--maintext-color);
  margin-bottom: 20px;
}
.social-list {
  display: flex;
}
.social-list__item:not(:last-child) {
  margin-right: 10px;
}
.social-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--maintext-color);
  background-color: var(--footer-social);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--focus-color);
}
.social-list__icon {
  fill: currentColor;
}
.subscribe-section__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--maintext-color);
  margin-bottom: 20px;
}
.subscribe-section__form {
  display: inline-flex;
}
.subscribe-input {
  height: 50px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--herofootbcg-color);
  padding: 15px 16px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.25;
  color: var(--maintext-color);
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe:hover,
.subscribe:focus {
  border-color: var(--mainbcg-color);
}
.subscribe-section__button {
  width: 200px;
  height: 50px;
  margin-left: 12px;
  display: inline-flex;
  background-color: var(--focus-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--maintext-color);
  border-color: var(--focus-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  border: 0;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-section__button:hover,
.subscribe-section__button:focus {
  background-color: var(--focus-btnclr);
}
.subscribe-section__icon {
  line-height: 0;
  margin-left: 10px;
  fill: var(--maintext-color);
}

/* 3. Страница портфолио */

/* 3.1 Кнопки портфолио */

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter__item {
  margin-right: 8px;
}
.filter__button {
  display: block;
  background-color: var(--portfolio-btnsbcg);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-top: 6px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button.filter__button--active {
  background-color: var(--focus-color);
  color: var(--maintext-color);
}
.filter__button:hover,
.filter__button:focus {
  background-color: var(--focus-btnclr);
  color: var(--maintext-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* 3.2 Работы */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.portfolio-list__item {
  margin: calc(var(--indent) / 2);
  flex-basis: calc((100% - var(--indent) * var(--items)) / var(--items));
}
.portfolio-list__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-list__wrapper {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: var(--potfolio-sectbrd);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--potfolio-sectbrd);
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: var(--potfolio-sectbrd);
  padding: 20px 24px;
}
.portfolio-list__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
  margin-bottom: 4px;
}
.portfolio-list__description {
  font-size: 16px;
  line-height: 1.88;
  color: var(--subtext-color);
}
.animation-box {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 294px;
  width: 370px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  background-color: var(--portfolio-animationbcg);
}
.portfolio-overlay__text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--maintext-color);
}
.portfolio-list__link:hover .portfolio-overlay {
  transform: translateY(0);
}
